[project]
	description = hash collisions: calculates the probability of collision for a number of values within a given range or the number of random values for a given probability of collision or the expected number of collisions
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Joel Scoble (mohae)
[access "refs/for/refs/*"]
	read = group user/Joel Scoble (mohae)
	push = group user/Joel Scoble (mohae)
	label-Code-Review = -2..+2 group user/Joel Scoble (mohae)
	label-Verified = -1..+1 group user/Joel Scoble (mohae)
	rebase = group user/Joel Scoble (mohae)
	removeReviewer = group user/Joel Scoble (mohae)
	submit = group user/Joel Scoble (mohae)
[access "refs/heads/*"]
	read = group user/Joel Scoble (mohae)
	create = group user/Joel Scoble (mohae)
	push = +force group user/Joel Scoble (mohae)
	pushMerge = group user/Joel Scoble (mohae)
[access "refs/tags/*"]
	push = group user/Joel Scoble (mohae)
	push = +force group user/Joel Scoble (mohae)
